__pycache__/
.DS_Store
.idea/
downloads/
results/
logs/
test/
.vscode/
test.py
data/
test.srt
test.txt
log_*.csv
log.csv
.chroma
*.ini
local_dump/
.pytest_cache/
flagged/
expdata/
storage/
*.mp4
testdata/
*.mp3
*.wav
*.m4a
*.mov
*.avi
*.mkv
.venv
evaluation/test_data/
eval
evaluation_experiment
webvenv/
build/
node_modules/
.env